name: Test

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  setup:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: latest
        cache: 'npm'
  install:
    needs: setup
    runs-on: macos-latest
    steps:
    - run: brew install pango jpeg librsvg
    - run: npm install --build-from-source canvas
    - run: npm ci
  test:
    needs: install
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - run: npm run docs
    - run: npm run lint
    - run: npm run ll
