name: Test

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

permissions:
  contents: write
  pull-requests: write

jobs:
  setup:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: latest
        cache: 'npm'
  install:
    needs: setup
    runs-on: macos-latest
    steps:
    - run: brew install pango jpeg librsvg
    - run: npm install --build-from-source canvas
    - run: npm ci
  cache:
    needs: install
    runs-on: macos-latest
    steps:
    - name: Cache node modules
      uses: actions/cache@v4
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.node_modules
        key: "${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}"
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
  build:
    needs: install
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - run: npm run docs
    - run: npm run lint
    - run: npm run ll
  commit:
    needs: build
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - run: git diff --quiet && git diff --staged --quiet || git commit -am 'Automatic commit'
    - run: git push
